API:
    token:
config_name:
export_options:
    export_path:
    timezone:
    filename:
    use_real_template_name: true
    csv_options:
        export_inactive_items: false
    export_profiles:
    template_ids:
    sync_delay_in_seconds:
    media_sync_offset_in_seconds: 0
    sql_table:
    database_type: mssql+pyodbc_mssql
    database_user: SA
    database_pwd:
    database_server: db
    database_port: 1433
    database_name: master?driver=ODBC Driver 17 for SQL Server